body{
    background-color: #393E46;
}

h1, p, .container{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 100px;
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}

p{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img{
    height: 120px;
    width: 120px;
}

#flag{
    height: 100px;
    width: 100px;
}

.Dice{
    margin: 20px
}